.searchbar {
  float: right;

  margin: 30px;
  border: none;
  width: 650px;
}
.searchInput {
  width: 650px;
  border-radius: 5px;
  padding-left: 10px;
  border-color: black;
  font-size: 18px;
  height: 40px;
}
