.searchbar {
  border: none;
  padding: 20px 10px 0px 50px;
  display: flex;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 80px;
  background-color: white;
}
.searchInput {
  width: 650px;
  border-radius: 5px;
  padding-left: 10px;
  border-color: black;
  font-size: 18px;
  height: 40px;
  outline: none;
}

.dropbtn {
  background-color: #ec1943;
  color: white;
  margin-left: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 46px;
  width: 200px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  margin-left: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ec1943;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ec1943;
}
