.sidenavContainer {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ec1943;
  height: 100vh;
  width: 250px;
}
.sidenavlinks {
  margin: 15px;
}
.sidenavlinks a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 6px 8px 6px 16px;
}

.sidenavlinks a:hover {
  color: black;
  background-color: white;
}
.iconhandler {
  width: 50px;
  padding-right: 30px;
}
.logo {
  width: 250px;
  height: 100px;
  background-color: white;
}

.signinbtn {
  width: 120px;
  color: #ec1943;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
  line-height: 3;
  font-size: 18px;
}
.btnicon {
  padding-right: 10px;
}
